body {
    background-color: whitesmoke;
}

#family-container {
    width: 40%;
    padding: 15px;
    margin-bottom: 100px;
    border: 1px dashed green;
}


.salat-container {
    width: 60%;
    border: 1px dashed red;
    padding: 20px;
}

#five-salat {
    color:rgb(190, 18, 18);
}

.day-time {
    color: rgb(217, 145, 20);
}

.night-time {
    color: rgb(56, 20, 200)
}